{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Todo</title>
    <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
    {% bootstrap_css %} {% bootstrap_javascript jquery='full' %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 border">
      <a class="navbar-brand hover-color" href="{% url 'todo:index' %}">ToDo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navBarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ml-4 hover-color">
            <a class="nav-link" href="{% url 'todo:tasks' %}">Tasks</a>
          </li>
          <li class="nav-item">
            <a
              href="{% url 'todo:new_task' %}"
              class="btn btn-outline-success my-2 my-sm-0 ml-3"
              role="button"
              aria-pressed="false"
              >New</a
            >
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text mr-3">Hello, {{ user.username }}.</span>
          </li>
          <li class="nav-item hover-color">
            <a class="nav-link" href="{% url 'todo:logout' %}"> Log out </a>
          </li>
          {% else %}
          <li class="nav-item hover-color">
            <a class="nav-link" href="{% url 'todo:register' %}"> Register </a>
          </li>
          <li class="nav-item hover-color">
            <a class="nav-link" href="{% url 'todo:login' %}"> Log in </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>

    <main role="main" class="container">
      <div>{% block content %}{% endblock content %}</div>
    </main>
  </body>
</html>
