{% extends 'todo/base.html' %}

{% block content %}
<div class="jumbotron">
  <h1>ToDo</h1>
  <p class="lead">
    ToDo app makes it easy and quick to create and manage tasks. <br>
    Just write down your tasks for the week so you don't forget anything.
  </p>

  {% if user.is_authenticated %}
    <a class="btn btn-lg btn-primary" href="{% url 'todo:tasks' %}" role="button">View tasks</a>

    {% else %}
      <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register</a>
  {% endif %}
</div>
{% endblock content %}